<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testng Cucumber Suite" parallel="tests">

    <listeners>
        <listener class-name="com.youvegotnigel.automation.utils.ListenerClass"/>
    </listeners>
    <test name="Cucumber Test">
        <classes>
            <class name="com.youvegotnigel.automation.runner.TestRunner"></class>
        </classes>
    </test>
</suite>